body{
margin: 0;
background-image: url('nature.webp');
background-position: 238px 430px;
box-sizing: border-box;
}
.App {
  text-align: center;
  width: 550px;
  height: 500px;
  margin: 230px 430px;
}

.form{
  text-align: center;
  color: white;
  padding:5px 0;
}
.label{
  text-align: left;
  font-size: 20px;
  font-family: comfort;
  color: rgb(203, 248, 3);
}
.btn{
  color: rgb(115, 131, 43);
}
p{
  color: rgb(239, 243, 245);
}
input{
  margin-top: 5px;
  margin-left: 5px;
}











